body
{
    background-color: #1d1d1d;
}
div p
{
    background: yellow;
    color: white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}

.myclass
{
    background: blue;
}
#myid
{
    background: pink;
}

p
{
    background: black;
    color: white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}